[submodule "xiNET_website"]
	path = xiNET_website
	url = https://github.com/colin-combe/xiNET_website.git
[submodule "CLMS-UI"]
	path = xi3
	url = https://github.com/colin-combe/CLMS-UI.git
[submodule "CLMS-model"]
	path = CLMS-model
	url = https://github.com/colin-combe/CLMS-model.git
[submodule "xiSPEC_ms_parser"]
	path = xiSPEC_ms_parser
	url = https://github.com/colin-combe/xiSPEC_ms_parser.git
[submodule "spectrum"]
	path = spectrum
	url = https://github.com/colin-combe/spectrum.git
[submodule "crosslink-viewer"]
	path = crosslink-viewer
	url = https://github.com/colin-combe/crosslink-viewer.git
[submodule "history"]
	path = history
	url = https://github.com/colin-combe/history
[submodule "userGUI"]
	path = userGUI
	url = https://github.com/colin-combe/userGUI.git
[submodule "vendor"]
	path = vendor
	url = https://github.com/colin-combe/vendor.git
[submodule "xidocs"]
	path = xidocs
	url = https://github.com/colin-combe/xidocs.git
